# 跨编辑器配置。
#
# <https://editorconfig.org/>
#
# zhengrr
# 2024-04-05 – 2024-04-05
# MIT License
root = true

# 缺省
[*]
charset = utf-8
                                        # 源码以 UTF-8 编码保存
insert_final_newline = true
                                        # 文件末尾保留空行

# Nushell 脚本
[*.nu]
indent_size = 1
                                        # 缩进一个单位
indent_style = tab
                                        # 以制表符为缩进单位
tab_width = 8
                                        # 制表符宽 8 个空格

# Just 配方
[*.justfile]
indent_size = 1
                                        # 缩进一个单位
indent_style = tab
                                        # 以制表符为缩进单位
tab_width = 8
                                        # 制表符宽 8 个空格
